<!-- Whole page -->
<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <!-- Project Section -->
  <div class="d-flex align-items-center gap-4">
    <!-- Project Slider -->
    <div class="col-5 container">
      <owl-carousel-o
        [options]="customOptions"
        style="display: block; width: 30vmax"
      >
        <ng-template carouselSlide>
          <div class="">
            <img
              src="../../../../assets/download.jpg"
              alt="slider first Image "
              class=""
              style="width: 30vmax"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="">
            <img
              src="../../../../assets/download.jpg"
              alt="slider second Image "
              class=""
              style="width: 30vmax"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="">
            <img
              src="../../../../assets/download.jpg"
              alt="slider third Image"
              class=""
              style="width: 30vmax"
            />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

    <!-- Project Details -->
    <div
      class="col-5 d-flex flex-column justify-content-start align-items-start gap-3 mt-4"
    >
      <h1>Project Name</h1>
      <h6>
        project description project description project description project
        description project description project description project description
        project description project description project description project
        description project description
      </h6>
      <h5>
        <span class="badge bg-danger"> Category Name </span>
      </h5>
    </div>
    <!-- Button -->
    <div class="col-2" style="padding-bottom: 33vh">
      <button class="btn btn-success" style="width: 8vmax">some action</button>
    </div>
  </div>
</div>
