<div class="container">
  <mat-card class="mt-4">
    <!--  -->
    <!-- Name -->
    <mat-card-content class="fs-2 text-success-emphasis">
      <mat-icon style="font-size: 25px">account_circle</mat-icon>
      ali</mat-card-content
    >
  </mat-card>
  <mat-list class="p-3">
    <mat-divider></mat-divider>
  </mat-list>

  <!-- ************************************************************ -->
  <div class="container mt-5 mx-3">
    <mat-list>
      <mat-list-item>
        <!--  -->
        <!-- Name -->
        <div class="row">
          <mat-icon class="px-4">badge</mat-icon>
          <h3 class="col-md-4">User Name:</h3>
          <p class="col-md-4">Ali</p>
        </div>
      </mat-list-item>
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- email -->
        <div class="row">
          <mat-icon class="px-4">alternate_email</mat-icon>
          <h3 class="col-md-4">E-mail:</h3>
          <p class="col-md-4">Email@.....</p>
        </div></mat-list-item
      >
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- Phone -->
        <div class="row">
          <mat-icon class="px-4">call</mat-icon>

          <h3 class="col-md-4">Phone:</h3>
          <p class="col-md-4">015200000</p>
        </div></mat-list-item
      >
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- address -->
        <div class="row">
          <mat-icon class="px-4">home</mat-icon>

          <h3 class="col-md-4">Address:</h3>
          <p class="col-md-4">tanta ...........</p>
        </div></mat-list-item
      >
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- city -->
        <div class="row">
          <mat-icon class="px-4">apartment</mat-icon>

          <h3 class="col-md-4">City:</h3>
          <p class="col-md-4">tanata</p>
        </div></mat-list-item
      >
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- Anythong -->
        <div class="row">
          <mat-icon class="px-4">emoji_transportation</mat-icon>

          <h3 class="col-md-4">State:</h3>
          <p class="col-md-4">bla bla</p>
        </div></mat-list-item
      >
      <mat-divider class="col-md-9"></mat-divider>
      <mat-list-item
        >
        <!--  -->
        <!-- date joined -->
        <div class="row">
          <mat-icon class="px-4">login</mat-icon>

          <h3 class="col-md-4">Joined in:</h3>
          <p class="col-md-4">
            date joined here ..........
          </p>
        </div></mat-list-item
      >
    </mat-list>
  </div>

  <div class="mt-5 mx-5">
    <button
      mat-raised-button
      color="primary"
      class="col-2 fs-5 mx-2"
    >
      Edit Profile
    </button>
    <button
      mat-raised-button
      color="primary"
      class="col-2 fs-5 mx-2"
    >
      My Results
    </button>
  </div>
</div>
