<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title col-11" id="modal-basic-title">Delete project</h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <p>are you sure you want to delete this project</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Launch demo modal
</button> -->

<hr />

<div class="container">
  <div class="alert alert-success mt-3" *ngIf="successDeleteMessage">
    the project was deleted succefully
  </div>

  <mat-card class="mt-4">
    <!--  -->
    <!-- Name -->
    <mat-card-content class="fs-2 text-success-emphasis">
      <mat-icon style="font-size: 25px">account_circle</mat-icon>

      {{ firstName }} {{ lastName }}
    </mat-card-content>
  </mat-card>
  <mat-list class="p-3">
    <mat-divider></mat-divider>
  </mat-list>

  <!-- ************************************************************ -->
  <div class="container row mt-5 mx-3">
    <div class="col-6">
      <mat-list>
        <mat-list-item>
          <!--  -->
          <!-- email -->
          <div class="row">
            <mat-icon class="px-4">alternate_email</mat-icon>
            <h3 class="col-md-4">E-mail:</h3>
            <p class="col-md-4">{{ profileData?.data?.email }}</p>
          </div></mat-list-item
        >
        <mat-divider class="col-md-9"></mat-divider>
        <mat-list-item>
          <!--  -->
          <!-- Phone -->
          <div class="row">
            <mat-icon class="px-4">call</mat-icon>

            <h3 class="col-md-4">Phone:</h3>
            <p class="col-md-4">{{ profileData?.data?.mobile_phone }}</p>
          </div></mat-list-item
        >
      </mat-list>
      <mat-divider class="col-md-9"></mat-divider>
      <!-- table of donations -->
      <h3>projects donations</h3>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">total donations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userProjectsData.data; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.start_time }}</td>
            <td>{{ item.end_time }}</td>
            <td>{{ item.donation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <img [src]="profilePicUrl" alt="" />
      <div class="mt-5 col-7 row">
        <button class="mt-2 btn btn-warning" routerLink="/profile/edit">
          Edit Profile
        </button>
        <button class="mt-2 btn btn-danger">delete Profile</button>

        <button class="mt-2 btn btn-success" routerLink="/projects/create">
          Create Project
        </button>
      </div>
    </div>
  </div>
  <mat-divider class="mt-4"></mat-divider>
  <div class="alert alert-danger mt-3" *ngIf="errorDeleteMessage">
    {{ errorDeleteMessage }}
  </div>
  <div *ngFor="let project of userProjectsData.data; index as i">
    <article class="container card" style="margin-top: 70px">
      <div class="row no-gutters">
        <!-- Image -->
        <figure class="card-image col-8 col-md-4">
          <a href="/projects/{{ project.id }}">
            <img
              src="{{ project.pictures['0'] }}"
              class="card-img col-8 col-md-12"
            />
          </a>
        </figure>
        <div class="col-8 col-12 col-md-8">
          <!-- Details -->
          <figcaption class="card-body">
            <a href="/projects/{{ project.id }}" style="text-decoration: none">
              <h2 class="card-title">{{ project.title }}</h2>
            </a>
            <p class="card-text">Project Details: {{ project.details }}</p>
            <p class="card-text">
              Project Total Target: {{ project.total_target }}
            </p>
            <p class="card-text">
              Created By : {{ project.user.first_name }}
              {{ project.user.last_name }}
            </p>
          </figcaption>

          <!-- Tags -->

          <div class="d-flex gap-3 flex-wrap">
            <ng-container *ngFor="let tag of project.tags; index as i">
              <span class="badge rounded-pill text-bg-dark">{{
                tag.name
              }}</span>
            </ng-container>
            <br />
          </div>
          <button
            class="btn btn-danger mt-3"
            (click)="open(content, project.id)"
          >
            delete project
          </button>

          <!-- End of info -->
        </div>

        <mat-divider style="margin-top: 20px"></mat-divider>
      </div>
    </article>
  </div>
</div>
