<!-- Whole page -->
<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <!-- Project Section -->
  <div class="d-flex align-items-center gap-4">
    <!-- Project Pic -->
    <div class="col-5">
      <img
        src="../../../../assets/download.jpg"
        alt="Book Cover"
        style="width: 30vmax"
      />
    </div>
    <!-- Project Details -->
    <div
      class="col-5 d-flex flex-column justify-content-start align-items-start gap-3 mt-4"
    >
      <h1>Project Name</h1>
      <h4>
        project description project description project description project
        description project description project description project description
        project description project description project description project
        description project description
      </h4>
      <h5>
        <span class="badge bg-danger"> Category Name </span>
      </h5>
    </div>
    <!-- Button -->
    <div class="col-2" style="padding-bottom: 33vh;" >
      <button class="btn btn-success" style="width: 8vmax">some action</button>
    </div>
  </div>
</div>
