<!-- Category Section -->
<div
  class="container d-flex justify-content-center align-items-center"
  style="margin-top: 50px"
>
  <!-- Category Section -->
  <div class="d-flex align-items-center gap-4">
    <!-- Category Pic -->
    <div class="col-3">
      <img
        src="../../../../assets/jk-rowling-net-worth-1542379985.jpg"
        alt="Book Cover"
        style="width: 20vmax"
      />
    </div>
    <!-- Category Details -->
    <div
      class="col-5 d-flex flex-column justify-content-start align-items-start gap-3 mt-4"
    >
      <h1>Category Name</h1>
      <h4>
        Category description Category description Category description Category
        description Category description
      </h4>
      <h5>
        <span class="badge bg-danger"> Category Name </span>
      </h5>
    </div>
    <!-- Button -->
    <div class="col-2" style="padding-bottom: 33vh">
      <a href="/projects/create" class="" style="width: 12vmax">Create Project</a>
    </div>
  </div>
</div>

<!-- Projects Section -->
<!-- Title -->
<mat-card class="mt-4">
  <mat-card-content style="background-color: rgb(231, 231, 231)"
    ><p class="container fs-2 text-success-emphasis">
      Projects:
    </p></mat-card-content
  >
</mat-card>
<!--  -->
<!-- Projects -->
<article class="container card" style="margin-top: 50px; max-height:250px ;">
    <div class="row no-gutters">
      <figure class="card-image col-8 col-md-4">
        <a href="/projects/4">
          <img
            src="../../../../assets/download.jpg"
            class="card-img col-8 col-md-12"
            style="width: 18vmax;"
          />
        </a>
      </figure>
      <div class="col-8 col-12 col-md-8">
        <figcaption class="card-body">
          <a href="/projects/4" style="text-decoration: none">
            <h4 class="card-title">Project Name</h4>
          </a>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            inventore, provident enim rem accusantium, alias pariatur qui
            voluptate numquam esse veritatis blanditiis voluptatibus reprehenderit
            molestias dignissimos error, nostrum at odio.
          </p>
        </figcaption>
      </div>
    </div>
    <mat-divider style="margin-top: 20px"></mat-divider>
  </article>