<div class="">
  <figcaption class="card-body d-flex flex-column gap-2 align-items-center">
    <h4 class="card-text">
      <span style="font-size: 4vmax" class="text-primary">{{
        oneCategoryData.data.name
      }}</span>
    </h4>
  </figcaption>
  <mat-divider style="margin-top: 20px"></mat-divider>
</div>

<!-- Projects Section -->
<!-- Title -->
<mat-card class="mt-4">
  <mat-card-content style="background-color: rgb(231, 231, 231)"
    ><p class="container fs-2 text-success-emphasis">
      Projects:
    </p></mat-card-content
  >
</mat-card>
<!--  -->
<!-- Projects -->
<div *ngFor="let project of oneCategoryData.data.project">
  <article class="container card" style="margin-top: 70px">
    <div class="row no-gutters">
      <!-- Image -->
      <figure class="card-image col-8 col-md-4">
        <a href="/projects/{{ project.id }}">
          <img
            src="{{ project.pictures }}"
            class="card-img col-8 col-md-12"
            alt="{{ project }}"
          />
        </a>
      </figure>
      <div class="col-8 col-12 col-md-8">
        <!-- Details -->
        <figcaption class="card-body">
          <a href="/projects/{{ project.id }}" style="text-decoration: none">
            <h2 class="card-title">{{ project.title }}</h2>
          </a>
          <p class="card-text">Project Details: {{ project.details }}</p>
          <p class="card-text">
            Project Total Target: {{ project.total_target }}
          </p>
          <p class="card-text">
            Created By : {{ project.user.first_name }}
            {{ project.user.last_name }}
          </p>
        </figcaption>
        <!-- Tags -->
        <div class="d-flex gap-2" *ngFor="let tag of project.tags; index as i">
          <div
            style="
              background-color: rgb(0, 0, 0);
              border-radius: 15px;
              width: 10vmax;
              height: 2.5vmax;
              text-align: center;
              color: white;
            "
          >
            <p>{{ tag }}</p>
          </div>
        </div>
        <!-- End of info -->
      </div>
      <mat-divider style="margin-top: 20px"></mat-divider>
    </div>
  </article>
</div>
