<!-- Page Title -->
<mat-card class="mt-4">
  <div class="d-flex justify-content-between align-items-baseline container">
    <div>
      <h1>All Projects</h1>
    </div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search for project</mat-label>
      <input matInput [(ngModel)]="searchQuery" />
    </mat-form-field>
  </div>
</mat-card>

<!-- search Input -->

<!-- All Projects -->

<div *ngFor="let project of filteredProjects; index as i">
  <article class="container card" style="margin-top: 70px">
    <div class="row no-gutters">
      <!-- Image -->
      <figure class="card-image col-8 col-md-4">
        <a href="/projects/{{ project.id }}">
          <img
            src="{{ project.pictures['0'] }}"
            class="card-img col-8 col-md-12"
          />
        </a>
      </figure>
      <div class="col-8 col-12 col-md-8">
        <!-- Details -->
        <figcaption class="card-body">
          <a href="/projects/{{ project.id }}" style="text-decoration: none">
            <h2 class="card-title">{{ project.title }}</h2>
          </a>
          <p class="card-text">Project Details: {{ project.details }}</p>
          <p class="card-text">
            Project Total Target: {{ project.total_target }}
          </p>
          <p class="card-text">
            Created By : {{ project.user.first_name }}
            {{ project.user.last_name }}
          </p>
        </figcaption>
        <!-- Tags -->
        <div class="d-flex gap-3 flex-wrap">
          <ng-container *ngFor="let tag of project.tags; index as i">
            <span class="badge rounded-pill text-bg-dark">{{ tag.name }}</span>
          </ng-container>
          <br />
        </div>
        <!-- End of info -->
      </div>
      <mat-divider style="margin-top: 20px"></mat-divider>
    </div>
  </article>
</div>
