<!-- Page Title -->
<mat-card class="mt-4">
  <h1 style="margin-left: 10%">All Projects</h1>
</mat-card>

<!-- All Projects -->
<article class="container card" style="margin-top: 70px">
  <div class="row no-gutters">
    <figure class="card-image col-8 col-md-4">
      <a href="/projects/4">
        <img
          src="../../../../assets/download.jpg"
          class="card-img col-8 col-md-12"
        />
      </a>
    </figure>
    <div class="col-8 col-12 col-md-8">
      <figcaption class="card-body">
        <a href="/projects/4" style="text-decoration: none">
          <h4 class="card-title">Project Name</h4>
        </a>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          inventore, provident enim rem accusantium, alias pariatur qui
          voluptate numquam esse veritatis blanditiis voluptatibus reprehenderit
          molestias dignissimos error, nostrum at odio.
        </p>
      </figcaption>
    </div>
  </div>
  <mat-divider style="margin-top: 20px"></mat-divider>
</article>
